.titulka{

  position:absolute;
  margin: 0;
  padding-top: 25%;
  padding-bottom: 25%;
  width: 100%;
  height: 100%;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
   color:rgb(255, 29, 29);
   background-color:#1dffbb;
   font-size: 20px;
   font-family: 'Reggae One', cursive;
   letter-spacing: 0.3em;

}
.titulka:hover{
  background-color: rgb(15, 10, 14);
  color:greenyellow;
}

body {
  background: #090d00;
  color: rgba(196, 16, 16, 0.5);
 
}

p {
  border: 1px double rgba(255, 255, 255, 0.25);
  border-width: 0, 0;

  
}
span {
  text-transform: uppercase;
  font: 700 4em/1 "Oswald", sans-serif;
  padding: .25em 0 .325em;
  display: block;
  text-shadow: 0 0 80px rgba(231, 236, 236, 0.9);
  animation: bounce-top 2s infinite both;
  }


@keyframes bounce-top {
  0% {
    transform: translateY(-79px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-35px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}




