html {
  font-size: 10px;
  background: url(eddi.jpg) no-repeat center / cover;
};

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  color: rgb(245, 245, 245);
 
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  width: 100px;
  height: 100px;
  border: 0.4rem solid white;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(29, 173, 149, 0.541);
  text-shadow: 0 0 0.5rem black;
}

.play {
  transform: scale(1.1);
  border-color: #ff0077;
  box-shadow: 0 0 1rem #ff0077;
}

kbd {
  display: block;
  font-size: 4rem;
}
h1{
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: antiquewhite;
}

.sound {
  font-size: 1.0rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(233, 160, 4);
}
