#main{
  background:#a4a8a8
  font-family: 'Zen Dots', cursive;
  background: aliceblue;
  color: darkgrey;
  text-align: center;
 
  margin:  50px;
  padding-bottom: 0px;
  padding: 0px;
  colgroup
};


#main{
  background: rgb(88, 173, 81);
  font-family: 'Zen Dots', cursive;
  color: rgb(211, 67, 67);
  text-align: center;
  margin:  50px;
  padding-bottom: 0px;
  padding: 0px;

};

.view{
  display: block;
  position: absolute;
  margin: 10px;
  text-align: center;
  background: rgb(60, 114, 161);
};

#b1{
   background-position: 50px 0;
   border-radius: 50px 0 0 50px;
   color: rgb(0, 146, 32);
   
};

#b2{
   background-position: 50px 0;
  
   margin-left: 5px;
};


